.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .dark-mode .btn-primary,
  .dark-mode .btn-secondary {
    background-color: #bb86fc;
  }
  